
@{
    ViewBag.Title = "Stock";
}
<div class="card">
    <div class="content-header">
        <div class="card-header">
            <h3 class="card-title">Stock Report</h3>
            <div class="card-tools">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Procurement">Reports</a></li>
                    <li class="breadcrumb-item active">Stock Report</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("ProStock", "Report", FormMethod.Post, new { target = "_blank" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    @Html.Label("Category")
                    @(Html.Kendo().DropDownList()
                .Name("ItemCategoryId")
                .OptionLabel("All Category")
                .DataValueField("ItemCategoryId")
                .DataTextField("ItemCategory")
                .DataSource(ds =>
                {
                    ds.Read(read => read.Action("CategoryList", "Procurement"));
                })
                .HtmlAttributes(new { @style = "width:100%"}))
                </div>
                <div class="col-3">
                    <br />
                    <button class="k-button k-primary" type="submit">
                        <i class="fas fa-print"></i>&nbsp; Print
                    </button>
                </div>
            </div>
        }
    </div>
</div>