
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Hidden("tick", (string)ViewBag.TableauTicket)
    <div class="card ihead">
        <div class="content-header">
            <div class="card-header">
                <h3 class="card-title"> Dashboards</h3>
                <div class="card-tools">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a>Dashboard</a></li>
                        <li class="breadcrumb-item active"> Dashboards</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <iframe id="frm"  width="800" height="600"></iframe>
            </div>
            @*<script type='text/javascript' src='http://192.168.77.38/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1366px; height: 670px;'><object class='tableauViz' width='1366' height='670' style='display:none;'><param name='host_url' value='http%3A%2F%2F192.168.77.38%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Superstore&#47;Performance' /><param name='tabs' value='yes' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /></object></div>*@
        </div>
    </div>
        @*@section Scripts {*@
            @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>*@
            <script type="text/javascript">
                $(document).ready(function () {
                    var myTicket = $("#tick").val();
                    console.log(myTicket);
                    //$('#frm').src = myTicket;
                    $('#frm').load(myTicket);
                    //window.open(myTicket, "_blank");

                });
            </script>

        @*}*@
