@model IEnumerable<AGEERP.Models.UserMenuInfo>
@{
    ViewBag.Title = "Cash";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cshFrm = Model.Where(it => it.Menu2 == 28).OrderBy(it => it.SortOrder).ToList();
    var cshRpt = Model.Where(it => it.Menu2 == 22).OrderBy(it => it.SortOrder).ToList();
}


<div class="row">
    @if (cshFrm.Count > 0)
    {
        <div class="col-md-4" style="margin-top:5px;">
            <div class="card h-100 card-outline card-danger card-outline card-danger">
                <div class="card-header">
                    <h3 class="card-title">
                        @*<i class="fas fa-text-width"></i>*@
                        Cash Forms
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <ul style="list-style:none;padding-left:0px;">
                        @foreach (var menu in cshFrm)
                        {
                            <li id="m_@menu.MenuId">

                                <a class="dropdown-item" href="@menu.ActionLink" style="color:black;">
                                    <i class="far fa-dot-circle nav-icon"></i>
                                    @menu.Name
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    }
    @if (cshRpt.Count > 0)
    {
        <div class="col-md-4" style="margin-top:5px;">
            <div class="card h-100 card-outline card-danger">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-text-width"></i>
                        Cash Reports
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <ul style="list-style:none;padding-left:0px;">
                        @foreach (var menu in cshRpt)
                        {
                            <li id="m_@menu.MenuId">

                                <a class="dropdown-item" href="@menu.ActionLink" style="color:black;">
                                    <i class="far fa-dot-circle nav-icon"></i>
                                    @menu.Name
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    }
</div>
