@using AGEERP.Models
@{
    ViewBag.Title = "Comp Location IP";
}

<div class="card">
    <div class="content-header">

        <div class="card-header">
            <h3 class="card-title">City</h3>
            <div class="card-tools">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                    <li class="breadcrumb-item active">Comp Location IP</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            @(Html.Kendo()
.Grid<CompLocationIPVM>()
.Name("gridCompLocationIP")
.Columns(columns =>
{
    columns.Bound(c => c.RowId).Filterable(false).Hidden();
    columns.ForeignKey(p => p.LocId, (System.Collections.IEnumerable)ViewData["LocVD"], "LocId", "LocName").Title("Location");
    columns.Bound(c => c.IP);
    columns.Bound(c => c.Status);
    columns.Command(c => { c.Edit(); }).Width(250);
})
.Pageable()
.Sortable()
.Scrollable()
.Filterable(ftb => ftb.Mode(GridFilterMode.Row))
.ToolBar(t => { t.Create(); })
   //.Search(s => { s.Field(a => a.IP); } )
   .Editable(e => e.Mode(GridEditMode.InLine))
   .HtmlAttributes(new { style = "height:400px;font-size:12px;" })
   .DataSource(dataSource => dataSource
   .Ajax()
   .PageSize(20)
   .Events(e => e.Error("error_handler"))
   .Model(model =>
   {
       model.Id(m => m.RowId);
       model.Field(m => m.IP);
       model.Field(m => m.LocId);
       model.Field(m => m.Status);
   })
   .Read(read => read.Action("CompLocation_Read", "Setup"))
   .Create(create => create.Action("CompLocation_Create", "Setup"))
   .Update(update => update.Action("CompLocation_Update", "Setup"))
   //.Destroy(update => update.Action("CompLocation_Destroy", "Setup"))
   ))
        </div>
    </div>

</div>




<script type="text/javascript">
    var gridElement = $("#gridCompLocationIP");
    $(document).ready(function () {
        resizeGrid();
        //$('#m_10000000').addClass('active');
        //$('#d_10000000').css("display", "block");
        //$('#m_10030000').addClass('active');
        //$('#a_10030000').addClass('active');
    });

    function resizeGrid() {
        var height = $(window).innerHeight() - $('header').innerHeight() - 120;
        if (height < 200) {
            height = 200;
        }
        else if (height > 910) {
            height = 910;
        }
        $("#gridCompLocationIP").css("height", height);
        gridElement.data("kendoGrid").resize();
    }

    $(window).resize(function () {
        resizeGrid();
    });
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            var dia = $("#msgBox").data("kendoDialog");
            dia.title("Error");
            dia.content(message);
            dia.open();
            $("#gridCompLocationIP").data("kendoGrid").dataSource.read();
        }
    }
</script>
