@using AGEERP.Models
@{
    ViewBag.Title = "Location";
}
<div class="card">
    <div class="content-header">
        <div class="card-header">
            <h3 class="card-title">Location</h3>
            <div class="card-tools">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                    <li class="breadcrumb-item active">Location</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                @(Html.Kendo()
           .Grid<LocationDetailVM>()
           .Name("gridLocation")
           .Columns(columns =>
           {
               columns.Bound(c => c.LocId).Filterable(false).Hidden();
               columns.Bound(c => c.LocCode).Width(120);
               columns.Bound(c => c.LocName).Width(150);
               columns.ForeignKey(p => p.LocTypeId, (System.Collections.IEnumerable)ViewData["LocTypeVD"], "LocTypeId", "LocType").Title("Type").Width(150);
               columns.ForeignKey(p => p.CityId, (System.Collections.IEnumerable)ViewData["CityVD"], "CityId", "City").Title("City").Width(150);
               columns.Bound(c => c.Phone1).Width(120);
               columns.Bound(c => c.Phone2).Width(120);
               columns.Bound(c => c.Address).Width(250);
               columns.ForeignKey(p => p.PurchaseCenter, (System.Collections.IEnumerable)ViewData["PurCenterVD"], "PurCenterId", "PurCenter").Width(150);
               columns.Command(c => { c.Edit(); c.Destroy(); }).Width(250);
           })
           .Pageable()
           .Sortable()
           .Scrollable()
           //.Filterable(ftb => ftb.Mode(GridFilterMode.Row).Extra(false)
           //.Operators(operators => operators
           //.ForString(str => str.Clear()
           //.Contains("Contains"))))
           .ToolBar(t => { t.Search(); })
              .Search(s =>
                      {
                  s.Field(c => c.LocCode);
                        s.Field(c => c.LocName);
                        s.Field(c => c.Phone1);
                        s.Field(c => c.Phone2);
                        s.Field(c => c.Address);
              })
           .ToolBar(t => t.Create())
           .Editable(e => e.Mode(GridEditMode.InLine))
           .HtmlAttributes(new { style = "height:400px;" })
           .DataSource(dataSource => dataSource
           .Ajax()
           .PageSize(20)
           .Events(e => e.Error("error_handler"))
           .Model(model =>
           {
               model.Id(m => m.LocId);
           })
           .Read(read => read.Action("Location_Read", "Setup"))
           .Create(create => create.Action("Location_Create", "Setup"))
           .Update(update => update.Action("Location_Update", "Setup"))
           .Destroy(update => update.Action("Location_Destroy", "Setup"))
           ))
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        var gridElement = $("#gridLocation");
        $(document).ready(function () {
            resizeGrid();
            //$('#m_10000000').addClass('active');
            //$('#d_10000000').css("display", "block");
            //$('#m_10040000').addClass('active');
            //$('#a_10040000').addClass('active');
        })

        function resizeGrid() {
            var height = $(window).innerHeight() - $('header').innerHeight() - 120;
            if (height < 200) {
                height = 200;
            }
            else if (height > 910) {
                height = 910;
            }
            $("#gridLocation").css("height", height);
            gridElement.data("kendoGrid").resize();
        }

        $(window).resize(function () {
            resizeGrid();
        });
        function error_handler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                var dia = $("#msgBox").data("kendoDialog");
                dia.title("Error");
                dia.content(message);
                dia.open();
            }
        }
    </script>
    <style>
        th [role="listbox"] {
            visibility: hidden;
        }

        .k-filtercell, .k-filtercell .k-widget, .k-filtercell > span {
            display: table-row;
        }
    </style>
}
