@using AGEERP.Models
@{
    ViewBag.Title = "Supplier Tax Exemption";
}

<div class="card">
    <div class="content-header">

        <div class="card-header">
            <h3 class="card-title">Supplier Tax Exemption</h3>
            <div class="card-tools">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Setup</a></li>
                    <li class="breadcrumb-item active">Supplier Tax Exemption</li>
                </ol>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            @(Html.Kendo()
                 .Grid<SuppTaxExemptionVM>()
                 .Name("gridSuppTaxExemption")
                 .Columns(columns =>
                 {
                     columns.Bound(c => c.RowId).Hidden();
                     columns.ForeignKey(c => c.SuppId, (System.Collections.IEnumerable)ViewData["SuppVD"], "SuppId", "SuppName").Title("Supplier");
                     columns.Bound(c => c.TaxRate);
                     columns.Bound(c => c.FromDate).EditorTemplateName("Date").Format("{0: dd/MM/yyyy}");
                     columns.Bound(c => c.ToDate).EditorTemplateName("Date").Format("{0: dd/MM/yyyy}");
                     columns.Bound(c => c.Remarks);
                     columns.Command(c => { c.Edit(); c.Destroy(); }).Width(250);
                 })
                 .Pageable()
                 .Sortable()
                 .Scrollable()
                 .ToolBar(t => { t.Create();})
                 .Navigatable()
                 .Editable(e => e.Mode(GridEditMode.InLine))
                 .HtmlAttributes(new { style = "height:400px;" })
                 .DataSource(dataSource => dataSource
                 .Ajax()
                 .PageSize(20)
                 .Events(e => e.Error("error_handler"))
                 .Model(model =>
                 {
                     model.Id(m => m.RowId);
                 })
                 .Read(read => read.Action("SuppTaxExemption_Read", "Setup"))
                 .Create(create => create.Action("SuppTaxExemption_Create", "Setup"))
                 .Update(update => update.Action("SuppTaxExemption_Update", "Setup"))
                 .Destroy(update => update.Action("SuppTaxExemption_Destroy", "Setup"))
                 ))
        </div>
    </div>


</div>
@section Scripts{
    <script type="text/javascript">
        var gridElement = $("#gridSuppTaxExemption");
        $(document).ready(function () {
            resizeGrid();
            //$('#m_10000000').addClass('active');
            //$('#d_10000000').css("display", "block");
            //$('#m_10010000').addClass('active');
            //$('#d_10010000').css("display", "block");
            //$('#m_10010100').addClass('active');
            //$('#a_10010100').addClass('active');
        })

        function resizeGrid() {
            var height = $(window).innerHeight() - $('header').innerHeight() - 120;
            if (height < 200) {
                height = 200;
            }
            else if (height > 910) {
                height = 910;
            }
            $("#gridSuppTaxExemption").css("height", height);
            gridElement.data("kendoGrid").resize();
        }

        $(window).resize(function () {
            resizeGrid();
        });
        function error_handler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                var dia = $("#msgBox").data("kendoDialog");
                dia.title("Error");
                dia.content(message);
                dia.open();
            }
        }
    </script>
}

