@{
    ViewBag.Title = "Help Desk";
}
<div class="card">
    <div class="content-header">
        <div class="card-header">
            <h3 class="card-title">Help Desk</h3>
            <div class="card-tools">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Help Desk</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">AGE ERP SUPPORT</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>CATEGORY</th>
                                <th>HO SUPPORT PERSON</th>
                                <th>PHONE NUMBER</th>
                                <th>EXT #</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>PO ( Purchase Order Appliances )</td><td>Hamza Sab</td><td>03018611417</td><td></td></tr>
                            <tr><td>PO ( Purchase Order Mobile )</td><td>Abdullah Sab/Haroon Sab</td><td>03018611463/322</td><td></td></tr>
                            <tr><td>Distribution Plan (Schedule) )</td><td>Sulman Sab/lbrar Sab</td><td>03018611087/03018616324</td><td></td></tr>
                            <tr><td>Local Purchase (PO)</td><td>Shoaib Sab</td><td>03018611324</td><td></td></tr>
                            <tr><td>Plan , Rate Issue, Sale Price</td><td>Faraz Sab</td><td>03018611004</td><td></td></tr>
                            <tr><td>Inventory , Stock issues</td><td>Adnan Ilyas</td><td>0301-8611437</td><td></td></tr>
                            <tr><td>Inventory , Stock issues</td><td>Ali Hassan</td><td>0301-8611948</td><td></td></tr>
                            <tr><td>Inventory , Stock issues</td><td>Ali Raza</td><td>0301-8611276</td><td></td></tr>
                            <tr><td>Inventory , Stock issues</td><td>Hafiz usman</td><td>0301-8611053</td><td></td></tr>
                            <tr><td>Inventory , Stock issues</td><td>Owais</td><td>0321-4709655</td><td></td></tr>
                            <tr><td>Inventory , Stock issues</td><td>Owais Malik</td><td>0301-8611437</td><td></td></tr>
                            <tr><td>Inventory , Stock issues</td><td>Saqlain</td><td>0302-8613311</td><td></td></tr>
                            <tr><td>Inventory , Stock issues</td><td>Zubair Raza</td><td>0301-8611215</td><td></td></tr>

                            <tr><td>HR , Attendance (MTN,BWP,LDR,FSD,SWL,OKR)</td><td>Ashir Sab</td><td>03018611202</td><td></td></tr>
                            <tr><td>HR , Attendance (LHR,SKP,MDK,KSR)</td><td>Bilal Sab</td><td>03018611086</td><td></td></tr>
                            <tr><td>HR , Attendance (RWP,ISB,PEW)</td><td>Nasir Tufail Sab</td><td>03018611280</td><td></td></tr>
                            <tr><td>Cash Deposit</td><td>Zohar Sab</td><td>03018611281</td><td></td></tr>

                            <tr><td>Regional Accountant</td><td>Muhammad Ali</td><td>0301-8611945</td><td>233</td></tr>
                            <tr><td>Regional Accountant</td><td>Moazzam</td><td></td><td>270</td></tr>
                            <tr><td>Regional Accountant</td><td>Adnan Shamshair</td><td>0302-8611167</td><td>208</td></tr>
                            <tr><td>Regional Accountant</td><td>Talha Ahmed</td><td>0306-0677565</td><td>266</td></tr>
                            <tr><td>Regional Accountant</td><td>Muneeb</td><td></td><td>194</td></tr>
                            <tr><td>Regional Accountant</td><td>Waseem Abbas</td><td>03028611700</td><td>158</td></tr>

                            <tr><td>I.T Network Support (LHR,SKP,MDK,KSR)</td><td>Waseem Sab</td><td>03018611335</td><td>121/222</td></tr>
                            <tr><td>I.T Network Support (ISB,PEW,RWP)</td><td>Asif Sab/Wasif Sab</td><td>03018611352</td><td></td></tr>
                            <tr><td>I.T Network Support (SKT)</td><td>Ayub Sab (Waqar)</td><td>03018611336</td><td></td></tr>
                            <tr><td>I.T Network Support (GRW,GRT,JLM)</td><td>Sajjad Sab</td><td>03018611337</td><td></td></tr>
                            <tr><td>I.T Network Support (BWP,FSD,MTN,OKR,SWL,SGD,LDR)</td><td>Zeeshan Sab</td><td>03018611436</td><td></td></tr>
                            @*<tr><td>ERP Development (LHR,SKP,MDK,KSR)</td><td>Mohiyodin Sab</td><td>03236584535</td><td></td></tr>*@
                            <tr><td>I.T ERP Mobile App</td><td>Adil Sab</td><td>03204878519</td><td></td></tr>
                            <tr><td>I.T ERP Support</td><td>Muzamil</td><td>03079492296</td><td>123</td></tr>
                            <tr><td>I.T ERP Support</td><td>Sohail</td><td>03238870770</td><td>123</td></tr>
                            @*<tr><td>I.T ERP Development</td><td>Usman Sab</td><td>03004472231</td><td></td></tr>
                            <tr><td>I.T ERP Development</td><td>Shoaib Sab</td><td>03414910057</td><td></td></tr>*@

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
</div>