@using AGEERP.Models
@{
    ViewBag.Title = "Purchase Requisition";
}

<div class="card">
    <div class="content-header">
        <div class="card-header">
            <h3 class="card-title">Purchase Requisition</h3>
            <div class="card-tools">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                    <li class="breadcrumb-item active">Purchase Requisition</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="k-header k-grid-toolbar k-grid-top">


            </div>
            @(Html.Kendo()
            .Grid<PRVM>()
            .Name("gridPurchaseReq")
            .Columns(columns =>
            {
                columns.Bound(c => c.PrId).Hidden();
                columns.Bound(c => c.PrNo).Title("Requisition #").Width(250);
                columns.Bound(c => c.PRDate).Format("{0:dd/MM/yyyy}").Title("Requisition Date").Width(100);
                columns.Bound(c => c.location).Title("Location").Width(110);
                 columns.Command(c => { c.Custom("View").Click("showDetails"); }).Width(250);
            })
            .Sortable()
            .Pageable()
            .Scrollable()
            .ToolBar(toolbar =>
            {
                toolbar.Custom().Text("Add Purchase Requisition").IconClass("k-icon k-i-add").Action("AddPR", "Order");
            })
            //.AutoBind(false)
            .Navigatable()
            .HtmlAttributes(new { style = "height:300px;" })
            .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(100)
            .Model(model =>
            {
                model.Id(m => m.PrId);
                model.Field(m => m.PrNo);
                model.Field(m => m.PRDate);
                model.Field(m => m.location);
            })
            .Read(read => read.Action("PR_Read", "Order"))
            )
            ))
        </div>
    </div>
</div>
<div class="modal" id="prmodal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="OrdSch">
            </div>
        </div>
    </div>
</div>


<script>


    $(document).ready(function () {
        //$('#m_18000000').addClass('active');
        //$('#d_18000000').css("display", "block");
        //$('#m_18060000').addClass('active');
        //$('#a_18060000').addClass('active');
        resizeGrid();

    });

    var gridElement = $("#gridPurchaseReq");

    function showDetails(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        $('#OrdSch').load('/Order/PRDetailModel?id=' + dataItem.PrId);
        $('#prmodal').modal('show');

    }
    function resizeGrid() {
        var height = $(window).innerHeight() - $('header').innerHeight() - 180;
        if (height < 200) {
            height = 200;
        }
        else if (height > 910) {
            height = 910;
        }
        $("#gridPurchaseReq").css("height", height);
        gridElement.data("kendoGrid").resize();
    }

    $(window).resize(function () {
        resizeGrid();
    });

</script>

