@using AGEERP.Models
@{
    ViewBag.Title = "Purchase Request";
}

<div class="card">
    <div class="content-header">
        <div class="card-header">
            <h3 class="card-title">Purchase Request</h3>
            <div class="card-tools">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                    <li class="breadcrumb-item active">Purchase Request</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="k-header k-grid-toolbar k-grid-top">


            </div>
            @(Html.Kendo()
            .Grid<PRVM>()
            .Name("gridPurchaseReq")
            .Columns(columns =>
            {
                columns.Bound(c => c.PrId).Hidden();
                columns.Bound(c => c.PrNo).Title("Request #").Width(100);
                columns.Bound(c => c.TransDate).Format("{0:dd/MM/yyyy}").Title("Date").Width(100);
                columns.Bound(c => c.location).Title("Location").Width(110);
                columns.Bound(c => c.PrStatus).Title("Status").Width(80);
                columns.Bound(c => c.LCSuppName).Title("Supplier").Width(100);
                columns.Bound(c => c.LCSuppMob).Title("Supplier Mobile").Width(100);
                columns.Bound(c => c.LCSuppAddress).Title("Supplier Address").Width(100);

                columns.Command(c => { c.Custom("View").Click("showDetails"); c.Custom("Documents").Click("ViewDocument"); c.Custom("Cancel").Click("CancelDocument"); }).Width(100);
            })
            .Sortable()
            .Pageable()
            .Scrollable()
            .ToolBar(toolbar =>
            {
                toolbar.Custom().Text("Add Purchase Request").IconClass("k-icon k-i-add").Action("AddPRBranch", "Order");
                toolbar.Search();
            })
             .Search(s => { s.Field(a => a.PrNo); s.Field(a => a.location); s.Field(a => a.LCSuppName); s.Field(a => a.LCSuppMob); })
            //.AutoBind(false)
            .Navigatable()
            .HtmlAttributes(new { style = "height:300px;" })
            .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(100)
            .Model(model =>
            {
                model.Id(m => m.PrId);
                model.Field(m => m.PrNo);
                model.Field(m => m.PRDate);
                model.Field(m => m.location);
            })
            .Read(read => read.Action("PRBranch_Read", "Order"))
            )
            )
        </div>
    </div>
</div>
<div class="modal" id="prmodal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="OrdSch">
            </div>
        </div>
    </div>
</div>


<script>


    $(document).ready(function () {
        //$('#m_18000000').addClass('active');
        //$('#d_18000000').css("display", "block");
        //$('#m_18060000').addClass('active');
        //$('#a_18060000').addClass('active');
        resizeGrid();

    });

    var gridElement = $("#gridPurchaseReq");

    function ViewDocument(e) {

        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        if (dataItem.PrId != null) {
            window.open('/Document/EDocumentManager?id=' + dataItem.PrId + '&refobjid=9', "_blank");
        }
        else {

        }
    }

    function CancelDocument(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        $.getJSON("/Order/CancelPR?id=" + dataItem.PrId, function (data) {
            if (data == "true") {
                $('#gridPurchaseReq').data('kendoGrid').dataSource.read();
            }
        });
    }

    function showDetails(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location = '/Order/AddPRBranch?id=' + dataItem.PrId;


    }
    function resizeGrid() {
        var height = $(window).innerHeight() - $('header').innerHeight() - 180;
        if (height < 200) {
            height = 200;
        }
        else if (height > 910) {
            height = 910;
        }
        $("#gridPurchaseReq").css("height", height);
        gridElement.data("kendoGrid").resize();
    }

    $(window).resize(function () {
        resizeGrid();
    });

</script>

